.can-hover{
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  &.red{
    rect{
      fill:rgba(200, 0, 0, 0.7);
    }

  }
  &.green{
    rect{
      fill:rgba(0, 200, 0, 0.7);
    }
  }
  &.blue{
    rect{
      fill:rgba(0, 0, 200, 0.7);
    }
  }
}

