<div class='container' *ngIf="gameStarted && !gameOver">
  <h2>Score: {{score}} </h2>

  <div class='game-container'>
    <div class='bombs-container' #bombContainer>
    </div>

    <div class='bins-container'>
        <app-bin [fillColor]="colors[0]" class="bin" (notifyDropOnBin)="handleDrop($event)" #bin1></app-bin>
        <app-bin [fillColor]="colors[1]" class="bin" (notifyDropOnBin)="handleDrop($event)" #bin2></app-bin>
        <app-bin [fillColor]="colors[2]" class="bin" (notifyDropOnBin)="handleDrop($event)" #bin3></app-bin>
    </div>
  </div>

  <app-timer [bombsCount]="bombsCount" (timerReset)="onTimerReset($event)" [time]="'40'"></app-timer>
</div>

<div class="game-message" *ngIf="gameOver || !gameStarted">
  <h1 *ngIf="gameOver">Game Over! Your score was: {{score}} out of {{maxBombs}} </h1>
  <button (click)="startGame()">Start Game</button>
</div>
