.game-container{
  width: 90%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.bombs-container{
  height: 70vh;
}

.bins-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.game-message{
  text-align: center;
  margin-top: 25vh;
  > button{
    width: 20%;
    height: 15vh;
    font-size: 2rem;
  }
  > h1{
    font-size: 2.5rem;
  }
}
