.game-container{
  width: 90%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.bombs-container{
  height: 70vh;
}

.bins-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
